[role=banner] {
  align-items: center;
  background-color: blue;
  border-bottom: 1px solid black;
  color: white;
  display: flex;
  width: 100%;

  .brand {
    margin-left: 1rem;
  }

  ul {
    display: flex;
    margin-left: auto;

    li {
      align-items: stretch;
      display: flex;
    }

    a {
      border-radius: 5px;
      margin: 7px;
      background-color: white;
      color: blue;
      flex-grow: 1;
      line-height: 5rem;
      text-decoration: none;
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      [data-icon] {
        margin-right: 1rem;
      }
    }
  }
}
